.contact {
    width: 100%;
    text-align: center;
    padding: 0 10%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.title {
    color: #d8e6f4;
    font-size: 38pt;
    margin: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 400px;
    background-color: #30344c;
}

.subTitle {
    font-size: 19pt;
    margin: 10px;
    max-width: 55%;
}

.desc {
    margin-top: 50px;
    margin-bottom: 50px;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    cursor: pointer;
    width: 500px;
    font-size: 22pt;
    border: solid 1px dodgerblue;
    color: dodgerblue;
    background: transparent;
    padding: 15px;
    transition: all .2s;
}

.button:hover {
    background: dodgerblue;
    color: #d8e7f5;
}

.button:active {
    background: rgb(24, 112, 201);
}

.btngreen {
    border-color: #2EB086;
    color: #2EB086;
}

.btngreen:hover {
    background-color: #2EB086;
    color: #d8e7f5;
}

.btngreen:active {
    background-color: #218163;
}

.btnpurple {
    border-color: #4a4e9c;
    color: #4a4e9c;
}

.btnpurple:hover {
    background-color: #4a4e9c;
    color: #d8e7f5;
}

.btnpurple:active {
    background-color: #34376e;
}

@media (max-width: 800px) {
    .contact {
        padding: 1%;
    }

    .desc {
        flex-direction: column;
    }

    .subTitle {
        max-width: 99%;
        margin-bottom: 35px;
    }

    .button {
        width: 95%;
    }
}

@media (max-width: 450px) {
    .title {
        width: 99%;
        flex-direction: column;
    }

    .nbsp {
        display: none;
    }
}