.container {
  padding: 0 0 0 50px;
}

.main {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 500px) {
  .main {
    padding: 0 20px;
  }
}

.banner {
  height: 32vh;
  flex-direction: row;
  width: 100%;
  background-image: url("../public/img/banner.png");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer {
  height: 32vh;
  flex-direction: row;
  width: 100%;
  background-image: url("../public/img/Footer.png");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.landingPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.title {
  font-size: 46pt;
  font-family: oswald;
  margin: 0;
  transition: opacity 0.5s;
}

.subtitle {
  font-size: 28pt;
  font-family: oswald;
  margin: 0;
  transition: opacity 0.5s;
}

.desc {
  font-size: 20pt;
  margin: 10px 15px;
  transition: opacity 0.5s;
}

.nav {
  position: fixed;
  left: 25px;
  top: 50%;
  margin-top: -135px;
  width: 65px;
  height: 300px;
  display: flex;
  justify-self: center;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
  background-color: #30344c;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.089);
  transition: transform 0.2s;
}

.nav:hover {
  transform: scale(1.16);
}

.link {
  margin: 10px;
  cursor: pointer;
  user-select: none;
}

.img {
  border-radius: 100%;
}

.navLinkContainer {
  position: relative;
}

.tooltip {
  position: absolute;
  background-color: #30344c;
  color: #d8e7f5;
  padding: 10px 20px;
  right: -140px;
  z-index: 1000;
  width: 120px;
  border-radius: 6px;
  top: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: all .2s;
  animation: appear .3s;
}

.tooltip::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 99%;
  /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #30344c transparent transparent;
  z-index: 1001
}

.scrollLink {}

.content {
  text-align: center;
  width: 70%;
  transform: translateY(-15vh);
}

.navMobile {
  display: none;
}

.line {
  animation: blink 1.25s infinite;
  font-family: oswald;
}

.LPicon {
  margin: 150px;
}

.iconsContainer {
  max-width: 350px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  transition: all 0.5s;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 800px) {
  .banner {
    height: 25vh;
  }

  .content {
    width: 90%;
  }

  .title {
    font-size: 38pt;
  }

  .subtitle {
    font-size: 26pt;
  }

  .nav {
    display: none;
  }

  .nav {
    display: none;
  }

  .tooltipDisable {
    display: none;
  }
}

@media (min-width: 1950px) {
  .nav {
    left: calc(12vw - 65px);
  }
}

@media (min-width: 2700px) {
  .nav {
    left: calc(22vw - 65px);
  }
}

@media (min-width: 3200px) {
  .nav {
    left: calc(25vw - 65px);
  }
}

@media (min-width: 3700px) {
  .nav {
    left: calc(28vw - 65px);
  }
}